body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

header {
  background-color: #0f172a;
  color: white;
  padding: 30px;
  text-align: center;
}

nav {
  background-color: #e5e7eb;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #0f172a;
  font-weight: bold;
}

main {
  padding: 40px;
  text-align: center;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#scholarships {
  margin-top: 40px;
}

.scholarship {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  text-align: left;
}

.scholarship a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}
/* Search Bar */
#searchInput {
  width: 60%;
  padding: 12px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* About Section */
#about {
  background-color: white;
  padding: 30px;
  margin: 40px auto;
  max-width: 700px;
  border-radius: 8px;
}

/* Footer */
footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
